menu-avatar { margin: 20px auto;}
menu-avatar img { margin: 0 auto; width: 150px;height: 150px;border-radius: 50%;box-sizing: content-box; }
menu-avatar p.name { margin: 20px auto 0px; }
menu-avatar md-select { margin-top: 0; }
menu-avatar md-select md-select-label { font-size: 12px !important; }

menu-avatar .avatar-wrapper { max-width: 270px; }

menu-avatar .md-select-label {  padding-top: 0; margin-top: 15px; margin: 15px auto;}