<form name="handleForm" class="moip-cc-form">
    <div layout="row" layout-sm="column">
        <md-select ng-model="ngModel.empresa" placeholder="Instituição" flex required>
        <md-option ng-value="opt" ng-repeat="opt in vm.cc">{{ opt }}</md-option>
        </md-select>
        <md-select ng-model="ngModel.parcelas" placeholder="Parcelas" flex required>
        <md-option ng-value="opt" ng-repeat="opt in vm.parcel">{{ opt }}</md-option>
        </md-select>
    </div>
    <div layout="row" layout-sm="column">
        <md-input-container flex>
            <label>Número do cartão</label>
            <input ng-model="ngModel.numero" type="number" ng-minlength="13" ng-maxlength="19" required>
        </md-input-container>
        <md-input-container flex>
            <label>Validade (MM/AA)</label>
            <input ng-model="ngModel.validade" mask="12/99" required>
        </md-input-container>
        <md-input-container flex>
            <label>Chave de segurança</label>
            <input type="number" ng-model="ngModel.chave" ng-minlength="3" ng-maxlength="4" required>
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column">
        <md-input-container flex>
            <label>Nome impresso</label>
            <input ng-model="ngModel.nome" required>
        </md-input-container>
        <md-input-container flex>
            <label>CPF</label>
            <input ng-model="ngModel.cpf" ui-br-cpf-mask required>
        </md-input-container>
        <md-input-container flex>
            <label>Nascimento</label>
            <input ng-model="ngModel.nascimento" mask="39/19/9999" required>
        </md-input-container>
        <md-input-container flex>
            <label>Telefone</label>
            <input ng-model="ngModel.telefone" ui-br-phone-number required>
        </md-input-container>
    </div>
</form>