<md-content class="main-wrapper account anim-zoom-in md-padding" layout="column" flex>
    <!-- CONEXÕES -->
    <div class="account-wrapper connections">
        <h4><i class="fa fa-rss"></i> Suas conexões <span ng-if="vm.account.role.length>1">({{vm.account.role.length}})</span></h4>
        <opt-out
        class="animate-repeat-opt-out"
        ng-if="vm.account.role.length"
        ng-repeat="item in vm.account.role"
        item-id="item.company._id"
        item-title="item.company.name"
        item-title-tooltip="'Ir para '+item.company.name"
        item-location="'/'+item.company.ref+'/'"
        item-info="vm.optOutInfo(item)"
        put-location="vm.optOutPutLocation"
        put-params="vm.optOutPutParams"
        alert-title="'Desfazer conexão'"
        alert-info="'Você será desconectado da empresa '+item.company.name+'.'"
        alert-ok="'Ok, entendo.'"
        alert-cancel="'Não, obrigado.'">
        </opt-out>
        <div class="empty" ng-if="!vm.account.role.length">
            <small>Você não possui conexões.</small>
        </div>
    </div>
    <!-- /CONEXÕES -->
    <!-- DADOS GERAIS -->
    <div class="account-wrapper">
        <h4><i class="fa fa-at"></i> Dados gerais</h4>
        <form class="account-form"  novalidate name="vm.form.account" class="md-whiteframe-z1">
            <div class="head-bg" md-theme="default" layout-padding layout="row" layout-sm="column">
                <md-input-container>
                    <label>Seu nome</label>
                    <input name="firstName" ng-model="vm.account.profile.firstName" required>
                </md-input-container>
                <md-input-container>
                    <label>Sobrenome</label>
                    <input name="lastName" ng-model="vm.account.profile.lastName" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Melhor email</label>
                    <input name="email" ng-model="vm.account.email" type="email" required>
                </md-input-container>
            </div>
            <md-button
                class="md-fab md-primary md-hue-2 save"
                aria-label="Salvar"
                ng-click="vm.saveAccount($event)"
                ng-disabled="vm.account.busy||vm.form.account.$invalid||!vm.form.account.$dirty||vm.pristineAccount()">
                <md-tooltip>
                    Salvar
                </md-tooltip>
                <i class="fa fa-thumbs-up"></i>
            </md-button>
        </form>
    </div>
    <!-- /DADOS GERAIS -->
    <!-- ALTERAR SENHA -->
    <div class="account-wrapper">
        <h4><i class="fa fa-unlock-alt"></i> Alterar senha</h4>
        <form class="account-form" name="vm.form.password" class="md-whiteframe-z1">
            <div class="head-bg" md-theme="default" layout-padding layout="row" layout-sm="column">
                <md-input-container>
                    <label>Nova senha</label>
                    <input type="password" ng-model="vm.account._password" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Repetir nova senha</label>
                    <input type="password" ng-model="vm.account.__password" required>
                </md-input-container>
            </div>
            <md-button
                class="md-fab md-primary md-hue-2 save"
                aria-label="Salvar"
                ng-click="vm.savePassword()"
                ng-disabled="vm.account.busy||vm.form.password.$invalid||!vm.form.password.$dirty||(vm.account._password!=vm.account.__password)">
                <md-tooltip>
                    Salvar
                </md-tooltip>
                <i class="fa fa-thumbs-up"></i>
            </md-button>
        </form>
    </div>
    <!-- /ALTERAR SENHA -->
    <!-- DESATIVAR CONTA -->
    <div class="account-remove">
        <a ng-click="vm.deactivateAccount($event)"><i class="fa fa-remove"></i> Quero cancelar minha conta</a>
    </div>
    <!-- /DESATIVAR CONTA -->
</md-content>