live-chips md-chips.md-default-theme .md-chips { padding: 0px; margin-top: 16px; }
live-chips md-chips.md-default-theme .md-chips:first-child { margin-top: 0px; }
live-chips .chips-wrap  { margin-bottom: 2px; }
live-chips .truncate { width: 45px !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
live-chips .md-chips .md-chip .md-chip-content { padding-right: 0; }
live-chips .md-chips .md-chip-input-container input[type="text"] { font-size: 12px}
live-chips .md-chips .md-chip-input-container md-autocomplete-wrap { }
live-chips .md-chips .md-chip-input-container md-autocomplete { height: 27px; }
live-chips .md-chips .md-chip-input-container { padding: 0 0 0 3px; }
live-chips .md-chips .md-chip { margin: 15px 4px 4px 0; padding: 0 2px 0 7px; border-radius: 5px;}
live-chips .md-chips .md-chip-input-container:not(:first-child) { margin:	0px 0 0 0; }
live-chips .filter-opt { min-height: 23px; }
live-chips .filter-opt a i { color: #ccc }
live-chips .filter-opt a:hover { text-decoration: underline;} 
live-chips .filter-opt .truncate { width: 155px !important;}