.image-cutter-wrapper input[type=file] {
    padding: 183px 27px;
}

.image-cutter-wrapper button {
    padding: 0 15px;
}

.image-cutter-wrapper button i {
    margin: 10px 8px 0 0 !important
}

.image-cutter-wrapper .progress {
    position: absolute;
    width: 100%;
    top: 40%;
}

.image-cutter-wrapper .progress md-progress-circular {
    margin: 0 auto;
}

.image-cutter-wrapper button.close i {  margin: 12px 0 0 0 !important;}
.image-cutter-wrapper md-dialog-content {  overflow: hidden; }
.image-cutter-wrapper .ng-image-crop { margin-bottom: 45px; }

.opacity-1 { opacity: .1 }
.opacity-2 { opacity: .2 }
.opacity-3 { opacity: .3 }
.opacity-4 { opacity: .4 }
.opacity-5 { opacity: .5 }
.opacity-6 { opacity: .6 }
.opacity-7 { opacity: .7 }
.opacity-8 { opacity: .8 }
.opacity-9 { opacity: .9 }