<div class="image-cutter-wrapper">
    <!-- transclusion -->
    <ng-transclude ng-click="modal($event)" ng-if="cutOnModal==='true'"></ng-transclude>
    <!-- /transclusion -->
    <!-- area of crop -->
    <image-cutter-area
    ng-if="cutOnModal != 'true'"
    endpoint-url="{{endpointUrl}}"
    endpoint-params="endpointParams"
    endpoint-success="endpointSuccess"
    endpoint-fail="endpointFail"
    cut-on-modal="{{cutOnModal}}"
    cut-width="{{cutWidth}}"
    cut-height="{{cutHeight}}"
    cut-shape="{{cutShape}}"
    cut-label="{{cutLabel}}"
    cut-result="cutResult"
    cut-step="cutStep">
    </image-cutter-area>
    <!-- /area of crop -->
</div>