md-content .login {
    max-width: 800px;
    margin: 0 auto 20px;
}
.login i {
    font-size: 16px;
    margin: 27px 8px 0 0;
}
button.entrar {
    width: 105px;
    margin: 0 auto;
    text-transform: capitalize;
}
button.registrar {
    width: 130px;
    margin: 0 auto;
    text-transform: capitalize;
}
.login a.lost {
    font-size: 11px;
    margin: 13px auto 17px;
    color: #bbb;
    text-decoration: none;
    display: block;
    text-align: center;
}
.login a.lost i {
    font-size: 12px;
    margin: 0;
}
.login a.lost:hover {
    color: #333;
    text-decoration: underline;
}
login-form .wrapper {
    margin: 0 auto 10px;
    max-width: 280px;
    padding: 15px 15px;
}
.warn {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    color: rgb(216, 27, 96);
}
login-form .entrar {
    height: 34px;
    margin: 0 2px 0 0;
    border: none;
    background-color: #45619d;
    padding: 0px 16px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 185px;
    display: inline-block;
}
.login h2.app-font {
    margin-bottom: 0px;
}
login-form img.avatar {
    display: block;
    margin: 0 auto;
    opacity: .3;
}
login-form .help {
    margin: 0 auto;
    max-width: 260px;
}
@media (max-width: 600px) {
    login-form .wrapper {
        box-shadow: none !important;
   }
}