.main-wrapper.home { padding: 10px 25px;  }
.main-wrapper.home .companies h4 {  margin: 0 0 15px; }
.main-wrapper.home .companies p.subtitle { margin-top: 2px; }
.main-wrapper.home .lead p.subtitle { margin-bottom: 0; }