<form novalidate name="vm.forms.profile" class="md-whiteframe-z1">
    <md-tabs md-dynamic-height md-center-tabs md-selected="tabCurrent" md-border-bottom>
    <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled">
    <md-tab-label><span ng-bind-html="tab.title"></span></md-tab-label>
    <md-tab-body>
    <div class="profile-tab {{tab.slug}}">
        <p class="subtitle" ng-bind-html="tab.subtitle"></p>
        <div ng-include="tab.template"></div>
    </div>
    </md-tab-body>
    </md-tab>
    </md-tabs>
    <div layout class="row actions content-action-wrapper">
        <md-button ng-hide="vm.hideActionAddWhen()" class="add md-fab md-warn" aria-label="Adicionar {{tabs[tabCurrent].name}}" title="Adicionar {{tabs[tabCurrent].name}}" ng-click="vm.add()">
        <md-icon md-svg-src="assets/images/icons/ic_mode_edit_18px.svg">
        </md-icon>
        </md-button>
        <md-button class="save md-fab md-primary" aria-label="Atualizar Perfil" title="Atualizar Perfil" ng-click="vm.save()" ng-disabled="vm.profile.busy||(vm.forms.profile.$invalid&&tabCurrent!=0)||!vm.forms.profile.$dirty">
        <md-icon md-svg-src="assets/images/icons/ic_thumb_up_24px.svg" ng-click="vm.hasFormErrorToast()">
        </md-icon>
        </md-button>
    </div>
</form>