<div class="logo-company" layout="row" layout-align="space-between center">
    <a href="/"><img ng-if="app.state.current.name != 'app.home'" hide-sm hide-md class="logo-header" src="https://livejob.s3.amazonaws.com/livejob-white.png"></a>
    <h4 class="name" ng-hide="app.isAuthed()" ng-if="app.state.current.name === 'app.landing'||app.state.current.name === 'app.profile'">{{app.user.current('company').name || app.user.session('company').name}}</h4>
    <company-chooser
    companyid="app.user.current('company')._id"
    companies="app.user.current('companies')"
    placeholder="'Conexões'"
    hide-me="app.state.current.name!='app.profile'&&app.state.current.name!='app.landing'">
    </company-chooser>
</div>