profile-form ul.list-positions {
    margin: 0;
}

profile-form ul.list-positions li {
    padding: 4px;
    margin-right: 12px;
    font-size: 13px;
    list-style-type: none;
    float: left;
    display: block;
    width: 199px;
}

profile-form ul.list-positions li md-checkbox .md-label span {
    width: 163px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

profile-form .fieldset {
    margin: 0px 0 20px;
}

profile-form md-select {
    margin: 0;
    padding: 0;
    display: inline-block;
}