<div class="no-results" ng-show="!vm.listEntries.length">
    <md-icon md-font-set="material-icons">announcement</md-icon> Nenhum resultado
</div>
<md-list class="list-content md-whiteframe-z1" ng-show="vm.listEntries.length">
    <md-list-item class="md-3-line" ng-repeat="item in vm.listEntries">
        <img ng-src="{{item.image}}" class="list-avatar" alt="{{item.title}}" />
        <div class="md-list-item-text">
            <div class="item-content">
                <h3>{{item.title}}</h3>
                <p>
                    <md-icon md-font-set="material-icons">event</md-icon>{{item.startDate}} <md-icon md-font-set="material-icons">alarm</md-icon>{{item.startTime}}
                </p>
                <p><md-icon md-font-set="material-icons">place</md-icon>{{item.address.bairro}}, {{item.address.city}} - {{item.address.state}}</p>
            </div>
            <div class="item-actions">
                <a class="link" ui-sref="app.event-page(item)" title="configurações do evento" tabindex="0">
                    Saiba mais <i class="material-icons">info_outline</i>
                </a>
            </div>
        </div>
    </md-list-item>
    <md-list-item
        list-load-more
        ng-if="vm.listLoadMoreBtn"
        class="load-more-btn">
    </md-list-item>
</md-list>