.opt-out {
    margin: 10px 10px 30px 0;
    background-color: #fff;
    padding: 10px;
    width: 140px;
    height: 75px;
    display: inline-flex;
    text-align: left;
}

.opt-out img {
    display: block;
    width: 100%;
}

.opt-out h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.opt-out p {
    font-size: 12px;
    margin: 5px 0;
    padding: 0;
}

.opt-out button {
    width: 38px !important;
    height: 16px !important;
    position: absolute;
    margin-left: 80px;
    margin-top: 48px;
}

.opt-out button i {
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: block;
}

.opt-out a:hover {
    text-decoration: none
}

@media (max-width: 600px) {
    .account-wrapper.connections {
        text-align: center;
    }
    .opt-out {
        margin: 10px 10px 30px 10px;
    }
}

.animate-repeat-opt-out {
    /*  line-height:40px;*/
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat-opt-out.ng-move, .animate-repeat-opt-out.ng-enter, .animate-repeat-opt-out.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-repeat-opt-out.ng-leave.ng-leave-active, .animate-repeat-opt-out.ng-move, .animate-repeat-opt-out.ng-enter {
    opacity: 0;
    /*max-height:0;*/
}

.animate-repeat-opt-out.ng-leave, .animate-repeat-opt-out.ng-move.ng-move-active, .animate-repeat-opt-out.ng-enter.ng-enter-active {
    opacity: 1;
    /*max-height:40px;*/
}