<form name="handleForm" class="addr-form">
    <div layout="column" layout-gt-sm="row">
        <ceper template-url="core/utils/directives/addrForm/ceper.tpl.html" endpoint-url="{{vm.endpointCepUrl}}" ng-model="ngModel.cep" address="ngModel"></ceper>
        <md-input-container flex>
            <label>Endereço</label>
            <input ng-model="ngModel.street" required>
        </md-input-container>

    </div>
    <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
            <label>Número</label>
            <input type="number" ng-model="ngModel.num">
        </md-input-container>
        <md-input-container flex>
            <label>Bairro</label>
            <input ng-model="ngModel.district" required>
        </md-input-container>
        <md-input-container flex>
            <label>Complemento</label>
            <input ng-model="ngModel.comp" md-maxlength="50">
        </md-input-container>
    </div>
    <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
            <label>Cidade</label>
            <input ng-model="ngModel.city" required>
        </md-input-container>
        <md-select ng-model="ngModel.state" placeholder="Estado" flex required>
        <md-option ng-value="opt.value" ng-repeat="opt in vm.states">{{ opt.name }}</md-option>
        </md-select>
    </div>
    <md-button
        class="md-fab md-primary md-hue-2 save"
        aria-label="Salvar"
        ng-if="endpointUrl"
        ng-click="vm.save()"
        ng-disabled="vm.busy||handleForm.$invalid||!handleForm.$dirty||vm.pristine()">
        <md-tooltip>
            Salvar
        </md-tooltip>
        <i class="fa fa-thumbs-up"></i>
    </md-button>
</form>