<form name="handleForm" class="contact-form">
    <div layout="row" layout-sm="column">
        <md-input-container flex>
            <label>Nome</label>
            <input ng-model="ngModel.name" required>
        </md-input-container>
        <md-input-container flex>
            <label>Email</label>
            <input type="email" ng-model="ngModel.email" required>
        </md-input-container>
        <md-input-container flex>
            <label>Celular</label>
            <input ng-model="ngModel.mobile" ui-br-phone-number required>
        </md-input-container>
        <md-input-container flex>
            <label>Telefone</label>
            <input ng-model="ngModel.phone" ui-br-phone-number>
        </md-input-container>
    </div>
    <md-button
        class="md-fab md-primary md-hue-2 save"
        aria-label="Salvar"
        ng-if="endpointUrl"
        ng-click="vm.save()"
        ng-disabled="vm.busy||handleForm.$invalid||!handleForm.$dirty||vm.pristine()">
        <md-tooltip>
            Salvar
        </md-tooltip>
        <i class="fa fa-thumbs-up"></i>
    </md-button>
</form>