//
// 
//

/*
FONTS
*/
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400,italic);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/*
ANIMATIONS
*/
.animate-show {
    opacity: 1;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}
.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.animate-cubic {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 1;
    /* Default value but added for clarity */
}

.animate-cubic.ng-hide-remove {
    opacity: 0;
    display: block !important;
}

.animate-cubic.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
.animate-repeat {
    /*  line-height:40px;*/

list-style: none;
    box-sizing: border-box;
}
.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}
.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px;
}
/* Bootstrap Pagination */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}
.pagination>li {
    display: inline
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: rgb(245, 0, 87);
    border-color: rgb(245, 0, 87);
    cursor: default
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed
}
.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.pagination-controls .pagination-page.active a,.pagination-controls .pagination-page.active a:hover {
    color: rgba(255,255,255,.8);
}

.pagination-controls .range {
    margin-right: 12px;
    color: #fff;
}


/*
DEFAULTS
*/

html, body, md-sidenav {
    background: #c13131;
    background-color: #c13131;
    color: #fff;
    /*    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;*/
}
md-sidenav .page-footer md-content {
    border-top: 1px solid rgba(0, 0, 0, .2);
}
/*body.not-authed {
    background-color: transparent;
    display: flex !important;
}*/

a:hover {
    cursor: pointer;
}
md-icon, div {
    outline: none
}
.no-margin {
    margin: 0px !important
}
.no-bg {
    background-color: transparent !important;
}
md-content {
    background-color: transparent !important;
}
md-select-menu md-content {
    background-color: rgba(255, 255, 255, 0.95) !important;
    color: #333
}
md-toolbar.main {
    background: linear-gradient(rgba(193, 49, 49, .1), rgba(193, 49, 49, 1)), #c13131;
    background-size: cover;
    background-position: center center;
}
md-menu-item > .md-button span {
    color: #333
}
.toolbar-avatar {
    margin-right: -12px;
}
.toolbar-avatar .md-title {
    color: #fff
}
.toolbar-avatar .md-caption {
    color: #fff
}
md-menu-item > .md-button md-icon {
    margin: 6px 16px auto 0;
}
.content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 40px;
    margin-bottom: 20px;
}
md-dialog p {
    color: #333
}
.logged-in-menu-button {
    height: 64px;
    margin-right: 0px;
    min-width: 0px;
}
.logged-in-menu-button img.avatar {
    width: 40px;
    height: 40px;
    margin-top: 19px;
}
.logged-in-menu-content md-icon.fa {
    font-size: 18px;
}
.logged-in-menu-button .toolbar-login-info {
    height: 100%;
}
.logged-in-menu-button .toolbar-login-info .avatar {
    width: 40px;
    height: 40px;
    margin-top: 19px;
}
.logged-in-menu-button .toolbar-login-content span {
    text-align: right;
    margin-right: 10px;
    text-transform: none !important;
    line-height: normal !important;
}
.app-footer {
    background-color: rgba(0, 0, 0, .2);
    padding: 10px 0;
    color: rgba(255, 255, 255, .8);
}
.app-footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px; 
}
.app-footer a:hover {
    color: yellow;
}
.app-footer hr {
    border-color: rgba(255, 255, 255, .1);
    border-width: 1px
}
.app-footer .footer-copy {
    color: rgba(255, 255, 255, .2)
}
.app-footer .main-wrapper {
    min-height: 450px;
}
.app-footer .head {
    margin: 0 0 10px 0px;
    font-size: 14px;
    color: rgba(255,255,255,.3);
}
.app-footer .head i {
font-size: inherit; margin-right: 5px
}

.app-footer .lead { max-width: 588px}
.app-footer .lead p {
    margin: 0;
}
.app-footer .lead md-input-container label,.app-footer .lead md-input-container .md-input {
    color: rgba(255,255,255,.3);
}

.app-footer .lead-form md-input-container { padding: 0}
.app-footer .lead-term,.app-footer .lead-term a { margin-top: 3px !important;    font-size: 11px;    color: rgba(255, 255, 255, 0.1);}
.app-footer .lead-term,.app-footer .lead-term a:hover { color: rgba(175, 224, 10, 0.9); }


.app-footer .lead md-input-container.md-input-invalid .md-input {
    border-color: rgba(255,193,7,.3);
}

.app-footer .fb-page { opacity: .8; padding: 6px;     margin: 0 14px 0 0;}
.app-footer .fb-page:hover { opacity: 1 }

.addthis_default_style .addthis_counter {
    margin-left: -24px;
   /* display: none !important;*/
}

.app-footer .paywith { font-size: 11px;
    color: rgba(255,255,255,.3);}





.coupon-card { margin: 20px 3px 5px; border: 2px dashed rgb(255,143,0); color: rgb(255,143,0);     border-radius: 3px; }
.coupon-card .md-body-1{     line-height: 17px;    font-size: 11px;}

@media (max-width: 960px) {
.promo-card-wrap {  
    width: 98% !important;
} 
.app-footer .lead {     max-width: 460px; margin: 0 auto}
.app-footer .fb-page {   margin: 0;}
}

